*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Whitney','Helvetica Neue', Helvetica, Arial, sans-serif;
}


/* Regole Header */

.banner-header{
    background-color: #255EE8;
    padding: 25px 0;
}
.banner-nav{
    width: 1080px;
}

/*Regole Utili */

.container{
    max-width: 1080px;
    margin: 0 auto;  
}

a{
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.a-list{
    margin: 0 20px;   
}

.flex{
    display: flex;
}

.font-title{
    font-size: 48px;
}

.font-p{
    font-size: 20px;
    line-height: 35px;

}

.gap{
    gap: 50px;
}

/* Regole barra di navigazione */

.logo{
    justify-content: flex-start;
    cursor: pointer;
}
.login{
    justify-content: flex-end;
    align-items: center;
    background-color: #fff;
    border-radius: 20px;
    padding: 11px 15px;
    font-size: 14px;
    cursor: pointer;
    
}

ul{
    list-style-type: none;
}

nav{
    flex-basis: 80%;
    justify-content: center; 
    align-items: center; 
}

/* Regole Jumbotron */

.main-header{
    background-image: url(../img/jumbo.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    justify-content: center;
    padding: 100px 0;
}

.jumbo{
      flex-basis: 60%;
}

.jumbo-title{
    justify-content: center;
    color: white;
    padding-bottom: 40px;
}

.jumbo-p{
    text-align: center;
    color: white;
}

/* Regole Interazioni */

.interaction{
    justify-content: center;  
}

.fa-solid{
    margin-right: 15px;
    font-size: 18px;
}

.buttons{
    background-color: white;
    padding: 15px 35px;
    border-radius: 35px;
    margin: 30px 20px;
    cursor: pointer;
}

.open{
    background-color: black;
    color: white;
}

.download{
    background-color: #8EA1E2;
    color: white;
    padding: 20px 35px;
    
}


/* Regole Sezioni */

section{
    padding: 100px 0;
}

.grey{
    background-color: #e5e5e5;
}

.last-section{
    text-align: center;
}

.last-section p{
    padding: 0 40px;
}

.image{
    display: block;
    width: 100%;  
}

.star{
    width: 60%;
}


/* Regole onde */

.wave{
    display: block;
    width: 100%;
    height: 100px;
    opacity: 0.1;
}

.reverse{
    transform: scaleY(-1);
}

/* Regole testo Sezioni */

h2{
    margin-bottom: 30px;
    padding-top: 25px;
}

h3{
    font-size: 32px;
    line-height: 0;
    padding-bottom: 70px;
    
}


/* Regole Colonne Footer */

.black-main{
    padding: 100px 0 30px 0;
    background-color:#23272A;
}

.big-column{
    flex-basis: 30%;
}

.small-column{
    flex-grow: 1;
}



/* Regole scritte Footer */

.font-big{
    font-size: 40px;
    padding-bottom: 30px;
}

.blue{
    color: #7188DB;
    font-weight: bold;
}

.flag{
    width: 10%;
    line-height: 22px;
    vertical-align: middle;
}
.ita{
    vertical-align: middle;
    color: white;
}

.fa-angle-down{
    vertical-align: middle;
    font-size: 12px;
    margin: 0 3px;
    color: white;
    cursor: pointer;
}

.div-icons{
    padding-top: 25px;
}

.icons{
    color: white;
    font-size: 25px;
    margin-right: 25px;
    cursor: pointer;  
}

/* Regole liste Footer */

.final-list{
    margin: 15px 0;
}

/* Regole Banner Footer */

.black-footer{
    background-color: #23272A;
    padding-top: 15px;
    border-top:1px solid #7188DB;
   
    

}
.banner-footer{
    background-color: #7FFFD4;
    justify-content: space-between;
    padding: 15px 0;
    border-top:1px solid #7188DB;
}

.second-logo{
    background-color: #FFB8C0;
    border: 1px dashed black;
    padding: 2px 5px;
}

.button{
    background-color: #FFB8C0;
    border: 1px dashed black;
    padding: 2px 5px;
}